$primary_black: #333;
$primary_white: #fff;
$bg_color: #fffefb;
$primary_yellow: #ffd00e;
$yellow_gradient: linear-gradient(132deg, #ffdf00 0%, #ffb800 100%);
$secondary-grey-clr: #f7f7f7;
$main-white-clr: #ffffff;
