<section id="advertising">
  <div class="advertising">
    <div class="container advertising__thumb">
      <div class="advertising__textBox">
        <h2>Найкраща компанія для роботи в IT</h2>
        <ul class="advertising__list">
          <li>
            <strong
              >Вебстудія Глянець — команда, яка налічує понад 50 професіоналів
            </strong>
          </li>
          <li>
            Наша компанія має власний офіс, хостинг, проводить навчання кадрів,
            здійснює контроль якості кожного проєкту.
          </li>
          <li>
            За час своєї роботи ми розробили сотні інтернет-магазинів, які
            працюють у всіх країнах світу, продаючи своїм замовникам тисячі
            товарів на добу.
          </li>
          <li><b>Глянець</b> — це надійність. Перевірено досвідом!</li>
        </ul>
        <ul class="advertising__partnersList">
          <li>
            <svg
              width="105px"
              height="65px"
              class="advertising__partnersListItem"
            >
              <use href="./assets/images/icons.svg#ukraineCommunitys"></use>
            </svg>
          </li>
          <li>
            <svg
              width="219px"
              height="66px"
              class="advertising__partnersListItem"
            >
              <use href="./assets/images/icons.svg#impactIcon3"></use>
            </svg>
          </li>
          <li>
            <svg
              width="200px"
              height="66px"
              class="advertising__partnersListItem"
            >
              <use href="./assets/images/icons.svg#helpdesk_black"></use>
            </svg>
          </li>
        </ul>
      </div>
      <img
        class="advertising__img"
        src="./assets/images/advertising/advertising_img.svg"
        alt="people are learning programming"
      />
    </div>
    <div class="backgroundFigure"></div>
  </div>
</section>
