<section id="advertising">
  <div class="advertising">
    <div class="container advertising__thumb">
      <div class="advertising__textBox">
        <h2>Найкраща компанія для роботи в IT</h2>
        <ul class="advertising__list">
          <li>
            <p>
              <strong
                >Вебстудія Глянець — команда, яка налічує понад 50 професіоналів
              </strong>
            </p>
          </li>
          <li>
            <p>
              Наша компанія має власний офіс, хостинг, проводить навчання
              кадрів, здійснює контроль якості кожного проєкту.
            </p>
          </li>
          <li>
            <p>
              За час своєї роботи ми розробили сотні інтернет-магазинів, які
              працюють у всіх країнах світу, продаючи своїм замовникам тисячі
              товарів на добу.
            </p>
          </li>
          <li>
            <p><b>Глянець</b> — це надійність. Перевірено досвідом!</p>
          </li>
        </ul>
        <ul class="advertising__partnersList">
          <li>
            <svg
              width="105px"
              height="65px"
              class="advertising__partnersListItem"
            >
              <use href="./assets/images/icons.svg#ukraineCommunitys"></use>
            </svg>
          </li>
          <li>
            <svg
              width="219px"
              height="66px"
              class="advertising__partnersListItem"
            >
              <use href="./assets/images/icons.svg#impactIcon3"></use>
            </svg>
          </li>
          <li>
            <svg
              width="200px"
              height="66px"
              class="advertising__partnersListItem"
            >
              <use href="./assets/images/icons.svg#helpdesk_black"></use>
            </svg>
          </li>
        </ul>
      </div>
      <div class="advertising__mainImg">
        <div class="advertising__gear1"></div>
        <div class="advertising__gear2"></div>
        <div class="advertising__gear3"></div>
        <div class="advertising__gear4"></div>
        <div class="advertising__gear5"></div>
      </div>
    </div>
    <div class="backgroundFigure"></div>
  </div>
</section>
