<section class="container benefits" id="benefits">
  <h2>У нас</h2>
  <div class="benefits__box">
    <ul class="benefits__firstList">
      <li class="benefits__firstListItem">
        <h3 class="benefits__title">Зручний графік</h3>
        <p class="benefits__text">
          Ми розуміємо, що кожна людина має унікальні потреби та обставини, тому
          пропонуємо гнучкий режим роботи, який враховує
          <b>індивідуальні вимоги</b> та дозволяє пристосуватися до них.
        </p>
      </li>
      <li class="benefits__firstListItem">
        <h3 class="benefits__title">Комфортний офіс</h3>
        <p class="benefits__text">
          Для співробітників є комфортні
          <b>робочі місця і зручні зони відпочинку</b>, що сприяють розслабленню
          та відновленню енергії. Використовуємо <b>Starlink</b>, тому завжди на
          звʼязку.
        </p>
      </li>
      <li class="benefits__firstListItem">
        <h3 class="benefits__title">Швидкий розвиток</h3>
        <p class="benefits__text">
          За короткий проміжок часу ти <b>стаєш повноцінним веброзробником</b> і
          тобі не важливо що то буде за макет, ти зможеш реалізувати все!
        </p>
      </li>
      <li class="benefits__firstListItem">
        <h3 class="benefits__title">Можливості Drupal</h3>
        <p class="benefits__text">
          Завдяки Drupal ви можете створити <b>будь-який тип веб-сайту</b>, від
          лендінгу до соціальної мережі, і отримати <b>повноцінну професію</b>,
          що дозволить вам працювати як в складі компанії, так і окремо як
          фрілансер.
        </p>
      </li>
      <li class="benefits__firstListItem">
        <h3 class="benefits__title">Навички та підтримка</h3>
        <p class="benefits__text">
          Працюючи у нас ти будеш працювати з препроцесорами, шаблонізаторами,
          різними бібліотеками, Doker, Git і з усім цим ми
          <b>тобі допоможемо розібратися</b> і дамо можливість
          <b>свої знання сповна реалізувати</b>.
        </p>
      </li>
    </ul>
    <ul class="benefits__secondList">
      <li class="benefits__secondListItem">
        <h3 class="benefits__title">Постійне зростання надходжень</h3>
        <p class="benefits__text">
          У нашій компанії ми працюємо над тим, щоб надходження
          <b>постійно зростали</b>. Наша мета — допомогти вам досягти
          фінансового успіху.
        </p>
      </li>
      <li class="benefits__secondListItem">
        <h3 class="benefits__title">Постійний потік клієнтів</h3>
        <p class="benefits__text">
          У нас потік <b>нових замовлень</b>, тому щоразу ти зможеш спробувати
          реалізувати щось нове
        </p>
      </li>
      <li class="benefits__secondListItem">
        <h3 class="benefits__title">Участь у стартапах</h3>
        <p class="benefits__text">
          У нашій компанії, яка налічує багато стартапів, ми надаємо учасникам
          розробки можливість <b>отримати відсоток</b> від прибутку. Також ти
          розберешся в Drupal API та зможеш писати <b>свої модулі</b>
        </p>
      </li>
      <li class="benefits__secondListItem">
        <h3 class="benefits__title">Сучасна техніка</h3>
        <p class="benefits__text">
          Ми забезпечуємо всіх виконавців <b>сучасною технікою від Apple</b>.
          Кожен співробітник отримує свій власний MacBook, що дозволяє працювати
          з надійним та потужним обладнанням, якісно виконувати будь-які поточні
          завдання.
        </p>
      </li>
      <li class="benefits__secondListItem">
        <h3 class="benefits__title">Відпочинок та розваги</h3>
        <p class="benefits__text">
          Ми облаштували комфортні зони відпочинку на свіжому повітрі. Окрім
          цього, в офісі є <b>PlayStation та VR-окуляри</b>, тож під час перерв
          або після робочого дня завжди можна розважитися.
        </p>
      </li>
    </ul>
    <div class="benefits__mainLogo"></div>
  </div>
  <div class="swiper-thumb">
    <div class="benefits__swiper swiper swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            src="./assets/images/benefits/image1-min.jpg"
            alt="веб студія Глянець"
          />
        </div>

        <div class="swiper-slide">
          <img
            src="./assets/images/benefits/image2-min.jpg"
            alt="веб студія Глянець"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="./assets/images/benefits/image3-min.jpg"
            alt="веб студія Глянець"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="./assets/images/benefits/image4-min.jpg"
            alt="веб студія Глянець"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="./assets/images/benefits/image1-min.jpg"
            alt="веб студія Глянець"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="./assets/images/benefits/image2-min.jpg"
            alt="веб студія Глянець"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="./assets/images/benefits/image3-min.jpg"
            alt="веб студія Глянець"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="./assets/images/benefits/image4-min.jpg"
            alt="веб студія Глянець"
          />
        </div>
      </div>
    </div>
    <div class="swiper_button swiper-button-prev">
      <svg width="53" height="53">
        <use href="./assets/images/icons.svg#arrowLeft"></use>
      </svg>
    </div>
    <div class="swiper_button swiper-button-next">
      <svg width="53" height="53">
        <use href="./assets/images/icons.svg#arrowRight"></use>
      </svg>
    </div>
  </div>
  <div class="bgImg2"></div>
</section>
