<section class="container">
  <h2>У нас</h2>
  <div class="benefits__box">
    <ul class="benefits__firstList">
      <li class="benefits__firstListItem">
        <h3 class="benefits__title">Зручний графік</h3>
        <p>
          Ми розуміємо, що кожна людина має унікальні потреби та обставини, тому
          пропонуємо гнучкий режим роботи, який враховує індивідуальні вимоги та
          дозволяє пристосуватися до них.
        </p>
      </li>
      <li class="benefits__firstListItem">
        <h3 class="benefits__title">Комфортний офіс</h3>
        <p>
          Для співробітників є комфортні робочі місця і зручні зони відпочинку,
          що сприяють розслабленню та відновленню енергії. Використовуємо
          Starlink, тому завжди на звʼязку.
        </p>
      </li>
      <li class="benefits__firstListItem">
        <h3 class="benefits__title">Швидкий розвиток</h3>
        <p>
          За короткий проміжок часу ти стаєш повноцінним веброзробником і тобі
          не важливо що то буде за макет, ти зможеш реалізувати все!
        </p>
      </li>
      <li class="benefits__firstListItem">
        <h3 class="benefits__title">Можливості Drupal</h3>
        <p>
          Завдяки Drupal ви можете створити будь-який тип веб-сайту, від
          лендінгу до соціальної мережі, і отримати повноцінну професію, що
          дозволить вам працювати як в складі компанії, так і окремо як
          фрілансер.
        </p>
      </li>
      <li class="benefits__firstListItem">
        <h3 class="benefits__title">Навички та підтримка</h3>
        <p>
          Працюючи у нас ти будеш працювати з препроцесорами, шаблонізаторами,
          різними бібліотеками, Doker, Git і з усім цим ми тобі допоможемо
          розібратися і дамо можливість свої знання сповна реалізувати.
        </p>
      </li>
    </ul>
    <ul class="benefits__secondList">
      <li class="benefits__secondListItem">
        <h3>Постійне зростання надходжень</h3>
        <p>
          У нашій компанії ми працюємо над тим, щоб надходження постійно
          зростали. Наша мета — допомогти вам досягти фінансового успіху.
        </p>
      </li>
      <li class="benefits__secondListItem">
        <h3>Постійний потік клієнтів</h3>
        <p>
          У нас потік нових замовлень, тому щоразу ти зможеш спробувати
          реалізувати щось нове
        </p>
      </li>
      <li class="benefits__secondListItem">
        <h3>Участь у стартапах</h3>
        <p>
          У нашій компанії, яка налічує багато стартапів, ми надаємо учасникам
          розробки можливість отримати відсоток від прибутку. Також ти
          розберешся в Drupal API та зможеш писати свої модулі
        </p>
      </li>
      <li class="benefits__secondListItem">
        <h3>Сучасна техніка</h3>
        <p>
          Ми забезпечуємо всіх виконавців сучасною технікою від Apple. Кожен
          співробітник отримує свій власний MacBook, що дозволяє працювати з
          надійним та потужним обладнанням, якісно виконувати будь-які поточні
          завдання.
        </p>
      </li>
      <li class="benefits__secondListItem">
        <h3>Відпочинок та розваги</h3>
        <p>
          Ми облаштували комфортні зони відпочинку на свіжому повітрі. Окрім
          цього, в офісі є PlayStation та VR-окуляри, тож під час перерв або
          після робочого дня завжди можна розважитися.
        </p>
      </li>
    </ul>
  </div>
</section>
