<section class="container charity" id="charity">
  <div class="charity__thumb">
    <div class="charity__legend">
      <h2 class="charity__maintitle">Благодійність</h2>
      <strong class="charity__boldText"
        >Наша місія — зробити світ кращим, і ми віримо, що благодійність є одним
        з ключових інструментів для досягнення цієї мети.</strong
      >
      <p>
        Ми вважаємо, що кожен бізнес має відповідальність перед суспільством, у
        якому він працює. Тому наша компанія докладає максимальних зусиль для
        підтримки благодійних організацій, проєктів, соціальних ініціатив та
        робить усе можливе для пришвидшення нашої перемоги, допомагаючи Збройним
        силам України.
      </p>
    </div>
    <div class="charity__images">
      <picture>
        <source
          srcset="
            ./assets/images/charity/charityImg1_1x-min.jpg 1x,
            ./assets/images/charity/charityImg1_2x-min.jpg 2x
          "
          media="(min-width:1200px)"
        />
        <!-- <source
                  srcset="
                    ./assets/images/checking/checking0.5x-min.jpg 1x,
                    ./assets/images/checking/checking1x-min.jpg   2x
                  "
                  media="(min-width:768px)"
                />
                <source
                  srcset="
                    ./assets/images/checking/checking0.5x-min.jpg  1x,
                    ./assets/images/checking/checking0.75x-min.jpg 2x
                  "
                  media="(max-width:767px)"
                /> -->
        <img
          src="./assets/images/charity/charityImg1_2x-min.jpg"
          alt="волонтери з вебстудії Глянець"
          class="charity__firstImg"
        />
      </picture>

      <picture>
        <source
          srcset="
            ./assets/images/charity/charityImg2_1x-min.jpg 1x,
            ./assets/images/charity/charityImg2_2x-min.jpg 2x
          "
          media="(min-width:1200px)"
        />
        <!-- <source
                  srcset="
                    ./assets/images/checking/checking0.5x-min.jpg 1x,
                    ./assets/images/checking/checking1x-min.jpg   2x
                  "
                  media="(min-width:768px)"
                />
                <source
                  srcset="
                    ./assets/images/checking/checking0.5x-min.jpg  1x,
                    ./assets/images/checking/checking0.75x-min.jpg 2x
                  "
                  media="(max-width:767px)"
                /> -->
        <img
          src="./assets/images/charity/charityImg2_2x-min.jpg"
          alt="волонтери з вебстудії Глянець"
          class="charity__secondImg"
        />
      </picture>
      <picture>
        <source
          srcset="
            ./assets/images/charity/charityImg3_1x-min.jpg 1x,
            ./assets/images/charity/charityImg3_2x-min.jpg 2x
          "
          media="(min-width:1200px)"
        />
        <!-- <source
                  srcset="
                    ./assets/images/checking/checking0.5x-min.jpg 1x,
                    ./assets/images/checking/checking1x-min.jpg   2x
                  "
                  media="(min-width:768px)"
                />
                <source
                  srcset="
                    ./assets/images/checking/checking0.5x-min.jpg  1x,
                    ./assets/images/checking/checking0.75x-min.jpg 2x
                  "
                  media="(max-width:767px)"
                /> -->
        <img
          src="./assets/images/charity/charityImg1_2x-min.jpg"
          alt="волонтерська допомога від вебстудії Глянець"
          class="charity__thirdImg"
        />
      </picture>
    </div>
  </div>
  <ul class="charity__list">
    <li class="charity__item">
      <a href="#">
        <svg class="charity__icon">
          <use href="./assets/images/icons.svg#trident"></use>
        </svg>
        <h3 class="charity__title">Допомога ЗСУ</h3>
        <p class="charity__itemText">
          Наші герої потребують уваги та підтримки, тому будь-яка допомога,
          навіть найменша, важлива. Разом — ми сила!
        </p>
      </a>
    </li>
    <li class="charity__item">
      <a href="#">
        <svg class="charity__icon">
          <use href="./assets/images/icons.svg#cable"></use>
        </svg>
        <h3 class="charity__title">Пункт незламності</h3>
        <p class="charity__itemText">
          Восени 2022 року, коли країна перебувала під загрозою блекауту, ми
          добровільно облаштували “Пункт незламності” в нашому офісі.
        </p>
      </a>
    </li>
    <li class="charity__item">
      <a href="#">
        <svg class="charity__icon">
          <use href="./assets/images/icons.svg#computer"></use>
        </svg>
        <h3 class="charity__title">Компʼютерний клас</h3>
        <p class="charity__itemText">
          Здійснили повне оновлення комп'ютерного класу у КЗ "Зарванецька
          гімназія". Цей проєкт був частиною соціальної відповідальності та
          прагнення покращити освітні умови для молодого покоління.
        </p>
      </a>
    </li>
    <li class="charity__item">
      <a href="#">
        <svg class="charity__icon">
          <use href="./assets/images/icons.svg#paw"></use>
        </svg>
        <h3 class="charity__title">
          Стерилізація і вакцинація місцевих тварин
        </h3>
        <p class="charity__itemText">
          Стерилізація допомагає контролювати розмноження безпритульних тварин
          та зменшити їх кількість в майбутньому.
        </p>
      </a>
    </li>
    <li class="charity__item">
      <a href="#">
        <svg class="charity__icon">
          <use href="./assets/images/icons.svg#broom"></use>
        </svg>
        <h3 class="charity__title">Прибирання “Чижової посадки”</h3>
        <p class="charity__itemText">
          Минулого року була проведена екологічна акція прибирання лісового
          масиву “Чижова посадка”. За участю добровольців було зібрано близько
          ста мішків сміття, яке вивозили трьома вантажівками.
        </p>
      </a>
    </li>
    <li class="charity__item">
      <a href="#">
        <svg class="charity__icon">
          <use href="./assets/images/icons.svg#learning"></use>
        </svg>
        <h3 class="charity__title">Додаткові проєкти</h3>
        <p class="charity__itemText">
          Одним із наступних проєктів, який вже невдовзі буде реалізовано –
          будиночки для безкоштовного обміну дитячою літературою. Його задум має
          назву "Читацький клуб".
        </p>
      </a>
    </li>
  </ul>
</section>
