<section class="container checking">
  <h2>Перевірка тествого завдання</h2>
  <div class="checking__block">
    <picture>
      <source
        srcset="
          ./assets/images/checking/checking1x-min.jpg 1x,
          ./assets/images/checking/checking2x-min.jpg 2x
        "
        media="(min-width:1200px)"
      />
      <source
        srcset="
          ./assets/images/checking/checking0.5x-min.jpg 1x,
          ./assets/images/checking/checking1x-min.jpg   2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./assets/images/checking/checking0.5x-min.jpg  1x,
          ./assets/images/checking/checking0.75x-min.jpg 2x
        "
        media="(max-width:767px)"
      />
      <img
        src="./assets/images/checking/checking1x-min.jpg"
        alt="Перевірка тестового завдання"
        class="checking__image"
      />
    </picture>
    <ul class="checking__list">
      <li>
        Ми цінуємо ваш час та зусилля, тому намагаємося забезпечити оперативну
        відповідь на ваші тестові роботи. Наша команда керівників та
        співробітників займається перевіркою усіх робіт ВРУЧНУ перевіряє всі
        роботи, гарантуючи високу якість оцінки.
      </li>
      <li>
        <strong>
          На першому етапі вашу роботу перевірить керівник HR-відділу — Олена,
          або Анатолій Валерійович — керівник вебстудії Глянець.
        </strong>
      </li>
      <li>
        Перевірку другого етапу, в залежності від посади на яку ви претендуєте,
        буде здійснювати керівник відповідного відділу (наприклад, керівник
        відділу верстки у разі подання заявки на посаду верстальника).
      </li>
      <li>
        Ми розуміємо, як важливо для вас отримати швидку відповідь, тому
        перевіряємо ваші <b>тестові завдання</b> навіть після завершення
        робочого дня. Наша команда цінує кожного потенційного кандидата і робить
        усе можливе, щоб забезпечити ретельну оцінку ваших здібностей та швидко
        повідомити результат.
      </li>
      <li>
        Ми цінуємо ваш час та зусилля, тому намагаємося забезпечити оперативну
        відповідь на ваші тестові роботи. Наша команда керівників та
        співробітників займається перевіркою усіх робіт ВРУЧНУ перевіряє всі
        роботи, гарантуючи високу якість оцінки.
      </li>
      <li>
        <strong>
          На першому етапі вашу роботу перевірить керівник HR-відділу — Олена,
          або Анатолій Валерійович — керівник вебстудії Глянець.
        </strong>
      </li>
      <li>
        Перевірку другого етапу, в залежності від посади на яку ви претендуєте,
        буде здійснювати керівник відповідного відділу (наприклад, керівник
        відділу верстки у разі подання заявки на посаду верстальника).
      </li>
      <li>
        Ми розуміємо, як важливо для вас отримати швидку відповідь, тому
        перевіряємо ваші <b>тестові завдання</b> навіть після завершення
        робочого дня. Наша команда цінує кожного потенційного кандидата і робить
        усе можливе, щоб забезпечити ретельну оцінку ваших здібностей та швидко
        повідомити результат.
      </li>
    </ul>
  </div>
</section>
