<header class="container header">
  <svg class="header__logo">
    <use href="./assets/images/icons.svg#icon-logo"></use>
  </svg>
  <nav>
    <ul class="header__nav">
      <li class="header__nav_item"><a href="#">Чому ми</a></li>
      <li class="header__nav_item"><a href="#">Партнери</a></li>
      <li class="header__nav_item"><a href="#">Благодійність</a></li>
      <li class="header__nav_item"><a href="#">Про нас</a></li>
      <li class="header__nav_item"><a href="#">Drupal</a></li>
    </ul>
  </nav>

  <div class="header__contacts">
    <ul class="header__socialMedia">
      <li>
        <svg class="header__socialMediaIcon">
          <use href="./assets/images/icons.svg#icon-facebook"></use>
        </svg>
      </li>
      <li>
        <svg class="header__socialMediaIcon">
          <use href="./assets/images/icons.svg#icon-instIcon"></use>
        </svg>
      </li>
      <li>
        <svg class="header__socialMediaIcon">
          <use href="./assets/images/icons.svg#icon-viberIcon"></use>
        </svg>
      </li>
    </ul>
    <div class="header__phoneNumbers">
      <span class="header__schedule">Пн-Пт з 10 до 18</span>
      <ul>
        <li><a href="tel:0 (800) 759-759">0 (800) 759-759</a></li>
        <li><a href="tel:0 (800) 759-758">0 (800) 759-758</a></li>
      </ul>
    </div>
  </div>
</header>
