<section class="container hero">
  <div class="hero__card">
    <p>Вебстудія №1 з розробки сайтів</p>
    <h1 class="hero__title">Приєднуйтесь до нашої IT-команди</h1>
    <p class="hero__legend">
      Відкрийте нові перспективи кар'єрного зростання, приєднавшись до нашої
      інноваційної IT-команди, яка відкриває двері до безмежних можливостей
    </p>
    <button type="button" class="main_btn">Спробуй свої сили</button>
  </div>
  <button class="hero__learmMoreBtn">
    <span>Дізнатися більше</span>
    <svg>
      <use href="./assets/images/icons.svg#icon-Arrow"></use>
    </svg>
  </button>
  <div class="hero__firstImage"></div>
  <div class="hero__secondImage"></div>
</section>
