<section class="container impact" id="drupal">
  <h2>Наш вклад в Drupal</h2>
  <ul class="impact__list">
    <li class="impact__card">
      <svg width="226" hight="46" class="impact__icon">
        <use href="./assets/images/icons.svg#impactIcon1"></use>
      </svg>
      <h3 class="impact__secondaryTitle">
        Ми зробили сайт спільноти drupal.ua
      </h3>
      <p class="impact__text">
        Ми розуміємо, що кожна людина має унікальні потреби та обставини, тому
        пропонуємо гнучкий режим роботи, який враховує
        <b>індивідуальні вимоги</b> та дозволяє пристосуватися до них.
      </p>
    </li>
    <li class="impact__card">
      <svg width="152" hight="46" class="impact__icon">
        <use href="./assets/images/icons.svg#impactIcon2"></use>
      </svg>
      <h3 class="impact__secondaryTitle">Робимо вклад в Open Source</h3>
      <p class="impact__text">
        Drupal – це не тільки широке міжнародне співтовариство, але й потужна
        технологія OpenSource. Наша команда
        <b>створює публікує власні модулі та теми</b> оформлення на Drupal.org.
      </p>
    </li>
    <li class="impact__card">
      <svg width="92" hight="46" class="impact__icon">
        <use href="./assets/images/icons.svg#impactIcon3"></use>
      </svg>
      <h3 class="impact__secondaryTitle">
        Дали людям безкоштовно e-commerce платформу
      </h3>
      <p class="impact__text">
        Alternative commerce - безкоштовний 100% готовий сайт-магазин на основі
        Drupal. Ви можете завантажити та
        <b>почати робити покупки на своєму хостингу!</b> Або за нашої підтримки
        та хостингу!
      </p>
    </li>
  </ul>
</section>
