<section class="container" id="partners">
  <h2>З нами працюють:</h2>
  <div class="partners__swiper-thumb">
    <div class="partners__swiper swiper swiper-container">
      <div class="swiper-wrapper">
        <div class="partners__item swiper-slide">
          <svg width="138" height="100">
            <use href="./assets/images/icons.svg#partner1"></use>
          </svg>
        </div>
        <div class="partners__item swiper-slide">
          <svg width="232" height="66">
            <use href="./assets/images/icons.svg#partner2"></use>
          </svg>
        </div>
        <div class="partners__item swiper-slide">
          <picture>
            <source
              srcset="
                ./assets/images/partners/partner3.png    1x,
                ./assets/images/partners/partner3_2x.png 2x
              "
              media="(min-width:0px)"
            />
            <img
              src="./assets/images/partners/partner3_2x.png"
              alt="аптека логотип"
              class="partners__image"
            />
          </picture>
        </div>
        <div class="partners__item swiper-slide">
          <svg width="232" height="49">
            <use href="./assets/images/icons.svg#partner4"></use>
          </svg>
        </div>
        <div class="partners__item swiper-slide">
          <svg width="232" height="74">
            <use href="./assets/images/icons.svg#partner5"></use>
          </svg>
        </div>
        <div class="partners__item swiper-slide">
          <svg width="232" height="91">
            <use href="./assets/images/icons.svg#partner6"></use>
          </svg>
        </div>
        <div class="partners__item swiper-slide">
          <svg width="138" height="100">
            <use href="./assets/images/icons.svg#partner1"></use>
          </svg>
        </div>
        <div class="partners__item swiper-slide">
          <svg width="232" height="66">
            <use href="./assets/images/icons.svg#partner2"></use>
          </svg>
        </div>
        <div class="partners__item swiper-slide">
          <picture>
            <source
              srcset="
                ./assets/images/partners/partner3.png    1x,
                ./assets/images/partners/partner3_2x.png 2x
              "
              media="(min-width:0px)"
            />
            <img
              src="./assets/images/partners/partner3_2x.png"
              alt="аптека логотип"
              class="partners__image"
            />
          </picture>
        </div>
        <div class="partners__item swiper-slide">
          <svg width="232" height="49">
            <use href="./assets/images/icons.svg#partner4"></use>
          </svg>
        </div>
        <div class="partners__item swiper-slide">
          <svg width="232" height="74">
            <use href="./assets/images/icons.svg#partner5"></use>
          </svg>
        </div>
        <div class="partners__item swiper-slide">
          <svg width="232" height="91">
            <use href="./assets/images/icons.svg#partner6"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="swiper_button partners-swiper-button-prev">
      <svg width="53" height="53">
        <use href="./assets/images/icons.svg#arrowLeft"></use>
      </svg>
    </div>
    <div class="swiper_button partners-swiper-button-next">
      <svg width="53" height="53">
        <use href="./assets/images/icons.svg#arrowRight"></use>
      </svg>
    </div>
  </div>
</section>
