.checking__block {
  display: flex;
  align-items: center;
}

.checking__image {
  border-radius: 10px;
  margin-right: 40px;
  width: 900px;
  height: 464px;
}
.checking__list li:not(:last-of-type) {
  margin-bottom: 10px;
}
.checking__list {
  height: 390px;
  overflow: scroll;
  scroll-behavior: smooth;
  padding-right: 19px;
}
.checking__list::-webkit-scrollbar {
  width: 7px;
}
.checking__list::-webkit-scrollbar-thumb {
  background-color: $primary_yellow;
  border-radius: 5px;
}
.checking__list::-webkit-scrollbar-track {
  background: var(--greyscale-100, #f9f9f9);
}
/* Customize the thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: $secondary_yellow;
}
